.pics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.pics img.active-slide {
  display: block; 
}

#prev-btn, #next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

#prev-btn {
  left: 20px;
}

#next-btn {
  right: 20px;
}

#prev-btn:hover, #next-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.header-content {
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; 
  background-color: rgba(0, 0, 0, 0.7);
}

.name h1 {
  font-size: 24px;
  display: block;
  color: white;
}
